################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GameAward/bin
/GameAward/obj/Debug
/GameAward/GameAward.csproj.user
/GameAward/GameAward.Publish.xml
