<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="rxjhgame" connectionString="Data Source=103.88.32.30;Initial Catalog=rxjhgame1;uid=sa;pwd=$#@!qaz429859157!@#$qaz;Packet Size=4096;Pooling=true;Max Pool Size=512;Min Pool Size=1" providerName="System.Data.SqlClient" />
    <add name="rxjhacount" connectionString="Data Source=103.88.32.30;Initial Catalog=rxjhaccount1;uid=sa;pwd=$#@!qaz429859157!@#$qaz;Packet Size=4096;Pooling=true;Max Pool Size=512;Min Pool Size=1" providerName="System.Data.SqlClient" />
    <add name="txkjCj" connectionString="Data Source=103.88.32.30;Initial Catalog=TxkjChouJiang;uid=sa;pwd=$#@!qaz429859157!@#$qaz;Packet Size=4096;Pooling=true;Max Pool Size=512;Min Pool Size=1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LicenseKey" value="In/0B1uva6Iii9rr4gwWxtA7DUHGzt/OfqwJCXQSqaJsq6IzYHdD+6BFTgQn9xtA/FQAEVW44QSSCA0e0KIxOXzWnDP4uSF/2LjvMw9tUlzgrLQL3z6It7AFwCnq+jTGrOQARx5632twRK3U5nuzZbuI5rMbPRg9nzbhyBYeNrY="/>
    <add key="chushicishu" value="0"/>
    <add key="danjia" value="100"/>
    <add key="YuanBaoDanJia" value="5000"/>
    <add key="ZhuanShengCiShu" value="100000"/>
    <add key="ConnString" value="Data Source=103.88.32.30;uid=sa;pwd=$#@!qaz429859157!@#$qaz;database=web1;Packet Size=4096;Pooling=true;Max Pool Size=500;Min Pool Size=1"/>
    <add key="PublicDb" value="Data Source=103.88.32.30;uid=sa;pwd=$#@!qaz429859157!@#$qaz;database=PublicDb1;Packet Size=4096;Pooling=true;Max Pool Size=500;Min Pool Size=1"/>


    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>